@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: normal;
  background-color: #f54b88;
  background-image: linear-gradient(to bottom, #f54b88, #b91350);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.footer {
  display: block;
  position: absolute;
  bottom: 2rem;
  font-size: 0.8rem;
  opacity: 0.8;
  max-width: 70%;
  text-align: center;
}

.footer a {
  color: yellow;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
